.listCategories
  *
    box-sizing border-box

  .list
    border-bottom border-black
    border-top border-black
    color #000
    margin-top -1px
    padding-left 9px
    &:hover
      >.title
        color color-secondary
    @media mq-m
      border none
      margin-top 0

    >.title
      font-family Arial
      font-size 14px
      text-transform uppercase
      
    &.expandable
      >.title
        cursor pointer
        position relative
        padding 15px 0
        @media mq-m
          padding 15px

        &:after
        // &::after
          content '+'
          position absolute
          right 16px
          zoom 1

    &.expanded
      >.title
        &:after
        // &::after
          content '-'

    .content
      display none

    .title
      display block
      @media mq-m
        border border-default
        margin-top -1px

    .submenu
      padding-top 0
      margin-bottom 22px
      @media mq-m
        background color-concrete
      .title
        font-family Verdana
        font-size 14px
        font-weight normal
        line-height 1.4em
        line-height 21px
        padding 0 1em
        position relative
        color #000
        &:hover
          color color-secondary
        &:before
          content '-'
          color color-preorder
          position absolute
          left 0

        @media mq-m
          padding 1em 1.5em
          line-height initial
        &.current
          font-weight bold

  @media mq-m
    margin-bottom 20px