$listView =   
  .listView
    float right
    margin-right 25px
    padding 10px 0

    .title
    .choice
      display block
      float left
      font-weight bold

    .title
      // @extend .productsList .listView $layout
      line-height 22px
      margin-right 10px
      
    .choice
      // @extend .productsList .listView $layout
      a
        margin-right 5px
        &.active
          >.display
            display none
          >.hidden
            display block
        &.inactive
          &:hover
            >.display
              display none
            >.hidden
              display block

  .sorting
    padding 10px 0
    float right