.logoWrap
  margin-bottom 20px
  position relative

.logo
  text-align center

  $margin
    margin 0 auto
    
  &.t-galleria
    @extend .logo $margin
    width 158px
  &.dfs
    @extend .logo $margin
    width 14px

.search-bar
  width 170px
  position absolute
  right 0
  visibility visible

  *
    box-sizing border-box

  @media mq-m
    display none

  input
    padding 4px
    padding-right 22px
    font-size 1.1em
    width 100%