.fashion.menu-tabs
  z-index 1000
  position relative

  .list
    clearfix()

    .li
      float left

      &.divider
        width 1px
        // height 24px
        background-color color-mercury

      >.title
        // padding 0 6px
        // height 24px
        // line-height 24px
        // border-top 1px solid black
  .tab
    // position relative

    >.title
      // border 1px solid black
      border-top 1px solid black
      border-left 1px solid black
      border-right 1px solid black
      display table
      // padding 0 6px
      // height 30px
      // line-height 24px
      position relative
      // background-color white

    >.content
      display none
      border border-default
      border-top none
      background-color white
      position absolute
      // top 31px
      // margin-top -1px
      z-index 1000

      &.against-left
        left 0

      &.against-right
        right 0

    @media mq-min-l
      &.active
        >.title
          border-left border-default
          border-top border-default
          border-right border-default
          // border-bottom #fff
          position relative
          background white
          // z-index 1001

          a
            color black

        >.content
          display block

@media mq-min-l
  .no-touch
    .fashion.menu-tabs .tab:hover
      @extends .fashion.menu-tabs .tab.active
