.mobile-left-menu
  height auto
  left -280px
  min-height 100%
  position absolute
  top 0
  transition left .2s
  width 285px  //279px
  border-right 1px solid color-mercury
  @media mq-s
    width 279px


  .right-shadow
    background url('../img/module/mobile-menu/shadow.png') repeat-y
    width 20px
    height 100%
    position absolute
    top 0
    right -20px

  .nb-product
    background color-emperor
    border-radius 15px
    color #fff
    display inline-block
    rem-prop('font-size', 9px)
    margin-left 10px
    padding 3px 5px

  @media mq-min-l
    //display none

  &.opened
    left 0


@media mq-m
  body
  .main-header
    transition margin .2s
    width 100%

  .menu-left-opened
    // transform translateX(260px)
    margin-left 280px
    width 100%
    overflow-x hidden

    .global-wrap
      position fixed
      width 100%       


.menu-left-opened 
  #mobile-menu
    opacity 1