.productDetails
  .images
    text-align center

    .primary
      margin-bottom 20px
      position relative

      .extra
        background #fff
        background rgba(255,255,255,.3)
        border 2px solid color-silver
        border-radius 100px
        color #000
        left 40px
        padding 17px 4px
        position absolute
        text-align center
        text-transform uppercase
        font-size .7em
        line-height 1.4em
        top 20px
        width 50px

        &.primary
          border-color color-action
          color color-action

    .imagesSlider
      img
        margin 0 5px

  .details
    padding 0
    position relative

    .reference
      margin-bottom 10px

      @media mq-m
        text-align center

      .brand
        color #000
        font-size 18px 
        line-height 21px
        font-family "Times New Roman"

      .name
        color #000
        font-size 26px
        padding 14px 0
        line-height 30px
        font-family "Times New Roman"

      .code
        font-size 14px

    .custom
      .size
        width 150px
        @media mq-m
          width auto
          margin-right 10px

    .actions
      .action
        .button
          font-size 14px
          margin 4.5px
          padding 8px 0
          max-height 38px        

    .availability
      border #000
      font-size 14px
      margin 16px 0
      padding 13px 20px
      text-align center
      line-height 16px
      .icon-inline
        margin-right 4px

    .description
      padding 10px 0
      
      &.accordion-menu
        {expandableMenu}
        .list 
          &.expanded
            >.title
              &:after
                right 29px        

      .title
        font-size 1.1em
        margin-bottom 0
        text-transform uppercase

      p
        line-height 1.5em
        margin 0

    .share

      .asking
        margin 10px 0
        color #000

        a
          color #000

      .share-button
        margin 10px 0
        color #000
        text-align right
        font-size .9em
        text-transform uppercase
        @media mq-m
          text-align left

  @media mq-m
    .zoomed
      position fixed
      top 0px
      z-index 200000
      left 0px
      height 100%
      width 100%
      background rgb(255, 255, 255)

.component.magnify 
  .magnifier
    background #fff
    background rgba(255,255,255,.4)
    filter:"alpha(opacity=40)" 
    -ms-filter:"alpha(opacity=40)"
    cursor crosshair
    @media mq-m
      display none !important

  .target
    @media mq-m
      cursor default !important

@media mq-m
  body
    >.magnify
      display none !important


.thumbnails
  .thumbnails-slider
    &.slider
      width 280px
      margin 0 auto

      .slide
        width 70px

  .slider-arrow
    &.left
      margin-left 50px

    &.right
      margin-right 50px
    

@media mq-m
  h1.divider
    display none
    
  .productDetails
    .details
      .actions
        .action
          &.addToShoppingbag
            >a.button
              width auto
              text-align center
              padding-left auto
              >.loading-button
                margin-left auto
                
          &.addToWishlist
            >a.button
              width auto

.more
  margin-bottom 10px

.images
  position relative

.slider
.productSlider
  margin-bottom 20px


.productDetails
  .badge
    left 50%
    margin-left -184px
    padding 22px 14px
    @media mq-m
      font-size 1.1em
      padding 19px 9px
      width 50px
    @media screen and (max-width:425px)
      left 10px
      margin-left 0

  .images.zoomed
    .badge 
      display none

  .thumbnails-slider
    .slide 
      cursor pointer


  .details
    .reference
      margin-bottom 28px
      @media mq-m
        margin-bottom 10px

    .description
      .title
        border-bottom none !important
        padding 10px 0 !important
      .content
        padding-bottom 10px
        padding-right 20px

    .quantity 
      .minus
        margin-left 16px
        @media mq-s
          margin-left 6px

    .tooltip
      display none

    .price
      margin 10px 0
      .currency
        display inline-block
        padding-right 5px
        // text-decoration underline
      @media mq-m
        margin-bottom 30px
        text-align center

    .actions
      .action
        &.addToShoppingbag
          margin-right 5px
          >a.button
            width 227px
            // text-align left
            // padding-left 19px
            >.loading-button
              // margin-left 70px
              
        &.addToWishlist
          // margin-left 5px
          text-align right
          &.to-left
            text-align left
          >a.button
            width 227px
            &.disabled.black
              opacity 0.3
              background #000
              &:hover
                color #999
        a.button
          font-size 12px
          line-height 40px
          padding 0px
          margin 0
        @media mq-m
          margin 10px 0 !important

    .extra
      border 1px solid lighten(color-action, 30)
      color color-action
      font-weight bold
      margin 20px 0
      padding 10px 0
      text-align center
      text-transform uppercase

    .availability
      margin 20px 0
      padding 10px 0

  .preorder-product-message
    margin 0 20px 10px
    padding 10px 30px 10px 50px
    position relative
    background url(../../img/icon/shoppingbag_gray.png) no-repeat 10px center
    font-size 14px
    font-weight 200
    line-height 16px
    @media mq-m
      background-position 50% 10px
      color color-silver-chalice
      margin 0 0 10px
      padding 70px 30px 10px 30px
      text-align center

      
  .zoom-message
    z-index 5
    position absolute
    right 30% 
    top 30px
    @media mq-s
      right 20%
    
    .zoom-icon
      width 45px 
      height 45px 

.lte9
  .productDetails
    .badge
      background url('../img/icon/badge.png') no-repeat top left

@media mq-m
  .productDetails
    .details
      .actions
        .action
          &.addToShoppingbag
            >a.button
              width 100%
              text-align center
              padding-left 0
              >.loading-button
                margin-left 0
                
          &.addToWishlist
            >a.button
              width 100%
