// @require '../../stylus/inc/*'

productBlock()
  .productLink
    display block
    &:hover
      color color-primary
    

  .product
    $padding = 10px
    height 320px
    padding 7px
    position relative
    text-align center
    transition border .5s
    vertical-align top
    
    @media mq-min-l
      border 2px solid transparent
      padding 0
      &:hover
        border-color color-mercury

        .action
          opacity 1
          // .icon-heart
          //   background-image: url("../../img/icon/wishlist-black.png")
    .brand-name
    .product-name
    .price
      line-height 1.6em

    .brand-name
      font-weight bold

    .currency
      display inline-block
      padding-right 5px
      // text-decoration underline

    .extra
      border border-black
      color #000
      display inline-block
      font-size .75em
      letter-spacing .07em
      margin-top .5em
      padding .7em 0
      text-transform uppercase
      width 120px

      &.primary
        border-color color-action
        color color-action

    .description
      display none


    .actions
      position absolute
      right $padding
      top $padding

    .action
      background rgba(#fff, .3)
      border #fff
      height 15px
      margin-bottom 5px
      opacity 0
      padding 5px
      position relative
      transition opacity .5s
      width 16px

      @media mq-m
        display none

      &.wishlist
        @media mq-m
          background none
          border none
          display none
          opacity 1

      &.active
      &:hover
        opacity 1
        .icon-heart
          background-image: url("../../img/icon/wishlist-black.png")      

      &.active
        @media mq-m
          display inline-block

    .tooltip
      display none


.currenciesList
  background #fff
  color initial
  // display none
  font-weight initial
  // position absolute
  text-align left
  text-decoration none
  // min-width 180px

  p
    background color-concrete
    line-height 1.2em
    padding 5px 15px

  li
    border-top border-default
    padding 10px 15px

    .country
      margin-right 5px
      text-transform uppercase
      display inline-block
      min-width   60px
      
      .icon
        height 15px
        margin-right 5px
        max-width none
        vertical-align middle
        width 23px
    
    .symbol
      margin-right 5px

    .price
      font-weight normal
      
@media mq-s
  .currenciesList
    font-size   12px 
    p 
      padding 5px 8px
      
    li 
      padding 8px
      
      .country
        margin-right 8px

.product-tip-fade
  margin-left 10px
  transition opacity .2s
  
  .tip-inner
    background #000
    color #fff
    opacity 1
    font-style inherit
    border none
    box-shadow none
    padding 8px
    width auto

  .tip-arrow
    &:after
      border none
      display none
    
  &.tip-right
    .tip-arrow
      border-right-color #000

  &.tip-left
    .tip-arrow
      border-left-color #000

.currency-tip
  .tip-inner
    padding 0
    // min-width 180px
    width auto
