/*******************************************************************************
                              Shopping Bag
*******************************************************************************/
.ShoppingBag * {
  box-sizing: border-box;
}
/* Headers for the shopping bag */
/******************************************************************************/
.ShoppingBagHeader,
.ShoppingBagFooter {
  color: #000;
  position: relative;
}
.ShoppingBagHeader:before,
.ShoppingBagFooter:before,
.ShoppingBagHeader:after,
.ShoppingBagFooter:after {
  display: table;
  content: " ";
  line-height: 0;
}
.ShoppingBagHeader:after,
.ShoppingBagFooter:after {
  clear: both;
}
.ShoppingBagHeader .primary-title,
.ShoppingBagFooter .primary-title {
  color: color-tundora;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 500;
  margin: 12px 0px 8px;
  text-align: center;
}
@media mq-s {
  .ShoppingBagHeader .primary-title,
  .ShoppingBagFooter .primary-title {
    font-size: 16px;
  }
}
.ShoppingBagHeader .title,
.ShoppingBagFooter .title {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.ShoppingBagHeader.purchaseLimits .limits,
.ShoppingBagFooter.purchaseLimits .limits {
  margin: 20px auto;
  max-width: 560px;
}
.ShoppingBagHeader.allowance,
.ShoppingBagFooter.allowance {
  background: #000;
  position: relative;
  color: #fff;
  height: 53px;
}
.ShoppingBagHeader .tooltip,
.ShoppingBagFooter .tooltip {
  display: none;
}
.ShoppingBagOption {
  background: #fff;
  border: 1px solid #606060;
  height: 110px;
  position: relative;
  text-align: center;
  margin-left: -1px;
}
.ShoppingBagOption .option-nb {
  font-weight: 400;
  color: #000;
  margin: 12px 0px 8px;
}
.ShoppingBagOption.under-allowance,
.ShoppingBagOption.over-allowance {
  z-index: 2;
}
.ShoppingBagOption.under-allowance:before,
.ShoppingBagOption.over-allowance:before,
.ShoppingBagOption.under-allowance:after,
.ShoppingBagOption.over-allowance:after {
  border-bottom: 10px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 10px solid transparent;
  content: '';
  height: 0px;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  width: 0px;
}
.ShoppingBagOption.under-allowance:after,
.ShoppingBagOption.over-allowance:after {
  bottom: -19px;
  border-top-color: #fff;
}
.ShoppingBagOption.under-allowance:before,
.ShoppingBagOption.over-allowance:before {
  bottom: -23px;
}
.ShoppingBagOption.under-allowance {
  border-color: #59c263;
  box-shadow: 0 0 0 2px #59c263;
}
.ShoppingBagOption.under-allowance:before {
  border-top-color: #59c263;
}
.ShoppingBagOption.over-allowance {
  border-color: #bf3434;
  box-shadow: 0 0 0 2px #bf3434;
}
.ShoppingBagOption.over-allowance:before {
  border-top-color: #bf3434;
}
.ShoppingBagLimit {
  line-height: 18px;
  text-transform: uppercase;
}
.ShoppingBagLimit .limit {
  font-weight: bold;
}
.ShoppingBagLimit .divider {
  border: none;
  margin: 0;
}
/* Limit element for the shopping bag */
/******************************************************************************/
.ShoppingBagLimit.isReached {
  opacity: 0.3;
}
.ShoppingBagHeader .img,
.ShoppingBagFooter .img {
  float: left;
  margin-right: 24px;
}
.ShoppingBagHeader .desc,
.ShoppingBagFooter .desc {
  float: left;
  margin: 11px 0;
  text-align: left;
}
.ShoppingBagHeader .title,
.ShoppingBagFooter .title {
  font-family: font-family-preorder;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.ShoppingBagHeader .total,
.ShoppingBagFooter .total,
.ShoppingBagHeader .link,
.ShoppingBagFooter .link {
  font-family: font-family-preorder;
  font-weight: 300;
  font-size: 16px;
}
.ShoppingBagHeader a.link,
.ShoppingBagFooter a.link {
  color: #fff;
  text-transform: uppercase;
}
.ShoppingBagHeader a.link:hover,
.ShoppingBagFooter a.link:hover {
  color: rgba(255,255,255,0.7);
}
.ShoppingBagHeader a.link:after,
.ShoppingBagFooter a.link:after {
  border-bottom: 5px solid transparent;
  border-left: 6px solid color-gray;
  border-right: 6px solid transparent;
  border-top: 5px solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  margin-left: 5px;
  position: relative;
  width: 0;
}
.ShoppingBagHeader.under-allowance,
.ShoppingBagFooter.under-allowance {
  background: #59c263;
  height: 53px;
}
.ShoppingBagHeader.under-allowance .img,
.ShoppingBagFooter.under-allowance .img {
  position: relative;
}
.ShoppingBagHeader.under-allowance .img:after,
.ShoppingBagFooter.under-allowance .img:after {
  background-image: url("../img/icon/icon.png");
  background-position: -173px -179px;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 30px;
  left: 34px;
  position: absolute;
  top: 12px;
  width: 30px;
}
.ShoppingBagHeader.under-allowance a.link:after,
.ShoppingBagFooter.under-allowance a.link:after {
  border-left-color: #ace1b1;
}
.ShoppingBagHeader.over-allowance,
.ShoppingBagFooter.over-allowance {
  background: #bf3434;
}
.ShoppingBagHeader.over-allowance .img,
.ShoppingBagFooter.over-allowance .img {
  position: relative;
}
.ShoppingBagHeader.over-allowance .img:after,
.ShoppingBagFooter.over-allowance .img:after {
  background-image: url("../img/icon/icon.png");
  background-position: -141px -142px;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 28px;
  left: 32px;
  position: absolute;
  top: 14px;
  width: 30px;
}
.ShoppingBagHeader.over-allowance a.link:after,
.ShoppingBagFooter.over-allowance a.link:after {
  display: none;
}
/* Listing of product in the shopping bag */
/******************************************************************************/
.ShoppingBag .groupWrap {
  max-height: 400px;
  overflow: auto;
}
.ShoppingBagListProduct {
  margin: 0;
  padding: 0;
}
.ShoppingBagListProduct .col .qt {
  display: inline-block;
}
.ShoppingBagListProduct .priceWrap {
  position: relative;
}
.ShoppingBagListProduct .priceWrap .size {
  display: inline-block;
  margin-bottom: 12px;
  padding-top: 8px;
}
.ShoppingBagListProduct .priceWrap .priceWithLabel {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}
.ShoppingBagListProduct .priceWrap .priceWithLabel label {
  font-family: Verdana;
  font-size: 12px;
}
.ShoppingBagListProduct .priceWrap .priceWithLabel .ShoppingBagPriceWrap {
  display: inline-block;
  position: static;
}
.ShoppingBagListProduct .priceWrap .priceWithLabel .ShoppingBagPriceWrap.beforePromo .currency {
  text-decoration: line-through;
}
.ShoppingBagListProduct .priceWrap .priceWithLabel .ShoppingBagPriceWrap.beforePromo .amount {
  text-decoration: line-through;
}
.ShoppingBagListProduct .price.beforePromo:before {
  content: " ";
}
.ShoppingBagListProduct .promoPrice {
  position: absolute;
  right: 0;
}
.ShoppingBagListProduct .promoPrice .ShoppingBagPriceWrap {
  position: static;
}
.ShoppingBagListProduct .promoPrice .ShoppingBagPriceWrap >span {
  color: #b92b17;
}
/* Product Styles */
/******************************************************************************/
.ShoppingBagProduct {
  border-top: border-default;
  color: #000;
  display: inline-block;
  margin: 0;
  padding: 24px 50px 26px 10px;
  position: relative;
  text-align: left;
  width: 400px;
}
.ShoppingBagProduct:first-child {
  border-bottom: none;
}
.ShoppingBagProduct .img {
  float: left;
  width: 86px;
}
@media mq-s {
  .ShoppingBagProduct .img {
    width: 66px;
  }
}
.ShoppingBagProduct .details {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 4px;
  width: 240px;
}
.ShoppingBagProduct .details .col-1 {
  margin-bottom: 30px;
}
.ShoppingBagProduct .desc {
  font-family: "Times new roman";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 5px;
}
.ShoppingBagProduct .name {
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 5px;
}
.ShoppingBagProduct .qt {
  float: left;
  font-size: 12px;
  margin-bottom: 5px;
  margin-right: -20px;
  padding-left: 5px;
  position: relative;
  text-transform: uppercase;
  user-select: none;
}
.ShoppingBagProduct .qt .plus,
.ShoppingBagProduct .qt .minus,
.ShoppingBagProduct .qt .qt-value {
  margin: 3px 0;
}
.ShoppingBagProduct .qt .plus,
.ShoppingBagProduct .qt .minus {
  border: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 23px;
  text-align: center;
  width: 25px;
}
.ShoppingBagProduct .qt .plus.disabled,
.ShoppingBagProduct .qt .minus.disabled {
  border-color: color-mercury;
  color: color-mercury;
}
.ShoppingBagProduct .qt .minus {
  margin-left: 5px;
}
.ShoppingBagProduct .qt .qt-value {
  background: #fff;
  display: inline-block;
  padding: 2px 13px;
}
.ShoppingBagProduct .size {
  font-size: 12px;
  margin-bottom: 5px;
  padding-left: 5px;
  text-transform: uppercase;
}
.ShoppingBagProduct .tooltip {
  display: none;
}
/* ShoppingBag price Styles */
/******************************************************************************/
.ShoppingBagPriceWrap {
  margin-bottom: 5px;
  padding-left: 5px;
  padding: 0;
  position: absolute;
  right: -43px;
  font-size: 12px;
  font-weight: bold;
  line-height: 31px;
}
.ShoppingBagPriceWrap >label {
  font-size: 12px;
  font-weight: normal;
  font-family: Verdana;
}
.ShoppingBagPriceWrap .currency {
  cursor: pointer;
  display: inline-block;
  padding-right: 5px;
  text-transform: uppercase;
}
.ShoppingBagPriceWrap .currency:hover {
  color: color-secondary;
}
.ShoppingBagPriceWrap .before-discount .currency {
  cursor: default;
}
/* Product DropDown Menu Styles */
/******************************************************************************/
.ShoppingBagProductMenu {
  position: absolute !important;
  right: 12px;
  top: 14px;
  z-index: 2;
}
.ShoppingBagProductMenu img {
  height: 27px;
  width: 27px;
}
/* Shopping Bag Footer */
/******************************************************************************/
.ShoppingBagFooter {
  border-top: 1px solid #ccc;
  font-weight: bold;
  padding: 1em 2em;
}
.ShoppingBagFooter .title {
  float: left;
  font-family: font-family-default;
  text-transform: uppercase;
}
.ShoppingBagFooter .ShoppingBagPriceWrap {
  right: 34px;
  line-height: initial;
  margin-top: -4px;
}
.ShoppingBagFooter .tooltip {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.ShoppingBagFooter.form,
.ShoppingBagFooter .form {
  padding-left: 3em;
  padding-right: 3em;
}
.ShoppingBagFooter.form .form-field,
.ShoppingBagFooter .form .form-field {
  color: color-emperor;
  font-weight: normal;
  margin-bottom: 10px;
}
.ShoppingBagFooter.form .form-field label.cfe,
.ShoppingBagFooter .form .form-field label.cfe {
  display: block;
  margin-left: 20px;
}
.ShoppingBagFooter.form .form-field label.cfe .cfe-checkbox,
.ShoppingBagFooter .form .form-field label.cfe .cfe-checkbox {
  margin-left: -21px;
}
.ShoppingBagFooter.form .form-field a,
.ShoppingBagFooter .form .form-field a {
  color: inherit;
  text-decoration: underline;
}
.ShoppingBagFooter .button.checkout {
  background: #000;
  border: 1px solid transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  width: 344px;
}
.ShoppingBagFooter .button.checkout:hover {
  color: #b7b7b7;
}
.ShoppingBagFooter .button.checkout.disabled {
  background: #d9d9d9;
  border: 1px solid #7c7c7c;
  color: #575757;
  cursor: default;
}
.ShoppingBagFooter .button.checkout.disabled:hover {
  color: #979797;
}
.ShoppingBagFooter .button.checkout.over-allowance {
  background: #bf3434;
  cursor: default;
  border: 0px;
  color: #fff;
}
.ShoppingBagFooter .button.checkout.over-allowance:hover {
  color: #edc2b7;
}
.ShoppingBagFooter a.continue-shopping {
  font-size: 1em;
  margin-top: 1em;
  color: color-emperor;
}
.ShoppingBagFooter a.continue-shopping:hover {
  color: color-silver;
}
.ShoppingBagFooter .promo {
  margin-bottom: 10px;
}
.ShoppingBagFooter .promo >.title {
  font-weight: normal;
  font-size: 14px;
  font-family: Verdana;
}
.ShoppingBagFooter .promo .price {
  font-size: 12px;
}
/*******************************************************************************
                              Shopping Bag Details
*******************************************************************************/
.shoppingBag-page .ShoppingBag.groupWrap {
  border-bottom: 1px solid #000;
}
.shoppingBag-page .ShoppingBag footer .title {
  float: right;
  font-weight: normal;
  margin-right: 20px;
}
.shoppingBag-page .ShoppingBagGroup >.title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}
.shoppingBag-page .ShoppingBagGroup >.title .icon-prependInline {
  margin-top: -5px;
}
.shoppingBag-page .ShoppingBagFooter {
  border: none;
  font-weight: normal;
  margin: 0;
}
.shoppingBag-page .ShoppingBagFooter a {
  color: inherit;
  text-decoration: underline;
}
.shoppingBag-page .ShoppingBagFooter .form {
  padding-right: 0;
  padding-left: 9em;
}
@media mq-s {
  .shoppingBag-page .ShoppingBagFooter .form {
    padding-left: 0;
  }
}
.shoppingBag-page .ShoppingBagFooter .form .button.checkout {
  width: 100%;
}
.shoppingBag-page .list-guarantee li {
  margin-bottom: 15px;
}
.shoppingBag-page .list-guarantee li.shop-with-confidence {
  font-weight: bold;
}
.shoppingBag-page .list-guarantee li.ssl-secure .icon-prependInline {
  margin-left: 3px;
  margin-right: 14px;
}
.shoppingBag-page .promo {
  margin-left: 35px;
}
.shoppingBag-page .promo .price {
  float: right;
  position: relative;
}
.shoppingBag-page .total-confirmation {
  margin-left: 35px;
}
.shoppingBag-page .total-confirmation .price {
  position: relative;
  float: right;
  right: -6px;
}
.shoppingBag-page .order-processing {
  color: color-secondary;
  margin-right: 90px;
}
.shoppingBag-page .button.checkout {
  margin: 15px 0;
}
.shoppingBag-page .limitsWrap,
.shoppingBag-page .ShoppingBagOption {
  max-width: 500px;
}
.shoppingBag-page .ShoppingBagFooter a.continue-shopping {
  float: right;
  font-size: 1.3em;
  margin-right: -5px;
  position: relative;
  text-decoration: none !important;
}
@media mq-m {
  .shoppingBag-page .ShoppingBagDetailsAllowance-tip {
    display: block;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag {
    max-width: none;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .purchaseLimits .limitsWrap {
    max-width: 500px;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .purchaseLimits .limitsWrap .slider-arrow.right {
    right: 20px;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .purchaseLimits .limitsWrap .slider-arrow.left {
    left: 20px;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .purchaseLimits .ShoppingBagLimit {
    text-align: center;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .purchaseLimits .ShoppingBagLimit .desc,
  .shoppingBag-page .shoppingBag-page .ShoppingBag .purchaseLimits .ShoppingBagLimit .img,
  .shoppingBag-page .shoppingBag-page .ShoppingBag .purchaseLimits .ShoppingBagLimit .title,
  .shoppingBag-page .shoppingBag-page .ShoppingBag .purchaseLimits .ShoppingBagLimit .total {
    float: none;
    margin: 0;
    line-height: 1.4em;
    text-align: center;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .purchaseLimits .ShoppingBagLimit .total:before {
    display: none;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagFooter .order-processing {
    margin: 0;
  }
}
@media mq-s {
  .shoppingBag-page #shopping-bag >.area-container {
    padding: 0;
  }
  .shoppingBag-page .my-tabs .content-item {
    padding: 0;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagProduct .details {
    padding-left: 70px;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagProduct .col {
    float: none;
    width: auto;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagProduct .col > * {
    padding-left: 0;
    margin-bottom: 3px;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagProduct .col.col-2 {
    margin-right: 0;
    margin-top: 20px;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagProduct .size {
    font-weight: normal;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagProduct .qt .qt-value {
    padding: 2px 7px;
    margin: 0;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagProduct .ShoppingBagPriceWrap .price.after-discount {
    margin-top: 0;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagProduct .extra {
    padding-left: 5px;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag footer {
    margin-bottom: 20px;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagFooter.divider {
    border-top: 1px solid color-silver;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagFooter .total-confirmation {
    margin-left: 0;
  }
  .shoppingBag-page .shoppingBag-page .ShoppingBag .ShoppingBagFooter .form {
    padding: 0;
  }
  .shoppingBag-page .ShoppingBagFooter.shop-note {
    padding: 0;
    margin-top: 15px;
  }
  .shoppingBag-page .ShoppingBagFooter.shop-note .list-guarantee {
    padding: 15px 20px 20px;
    border: 1px solid #e1e1e1;
  }
  .shoppingBag-page .ShoppingBagFooter.shop-note .order-processing {
    margin: 20px;
  }
}
.shoppingBag-page .legalAge-tip {
  text-decoration: underline;
}
.shoppingBag-page .ShoppingBag .ShoppingBagPriceWrap {
  line-height: normal;
}
.shoppingBag-page .ShoppingBag .ShoppingBagPriceWrap .priceWrap .price.beforePromo {
  text-decoration: line-through;
}
.shoppingBag-page .ShoppingBag .ShoppingBagPriceWrap .priceWrap .price.beforePromo .currency {
  text-decoration: line-through;
}
.shoppingBag-page .ShoppingBag .ShoppingBagPriceWrap .priceWrap .price.promo {
  margin-left: 0;
}
.shoppingBag-page .ShoppingBag .ShoppingBagPriceWrap .priceWrap .price.promo >span {
  color: #b92b17;
}
