.area-container
  .footer
    //- desktop and tablet
    .main-footer.kiwi-hidden-s.kiwi-hidden-m

      .footer-heading
        .kiwi-grid
          .main-col.kiwi-col.footer-left
            .kiwi-grid
              .kiwi-col.l-1-3
                section.list.links.expandable
                  .title ABOUT US
                  .arrowWrap
                    .arrow-down-footer
              .kiwi-col.l-1-3
                section.list.links.expandable
                  .title SHOP AT DEMO
                  .arrowWrap
                    .arrow-down-footer
              .kiwi-col.l-1-3
                section.list.links.expandable
                  .title 
                    img.icon-globe(src="./images/icons/contact_globe_black_2x.png" style="width:16px;height:16px")
                    | ENGLISH
                  .arrowWrap
                    .arrow-down-footer
          .main-col.kiwi-col.footer-right
            .kiwi-grid
              .kiwi-col.relative
                .title FOLLOW US
                .arrowWrap
                  .arrow-down-footer
              .kiwi-col.follow-us
                a(href="#")
                  +socialIcon('facebook')
                a(href="#")
                  +socialIcon('instagram')
                a(href="#")
                  +socialIcon('sina')
                a(href="#")
                  +socialIcon('youtube')
                a(href="#")
                  +socialIcon('youku')
              .kiwi-col.facebook-like(style="width:85px;height:25px;")


      .footer-content.closed
        .kiwi-grid
          .main-col.kiwi-col.footer-left
            .kiwi-grid
              .kiwi-col.l-1-3
                section.list.links.expandable
                  .content
                    a.link(href="#") Our History
                    a.link(href="#") DEMO Group
                    a.link(href="#") DEMO Airport
                    a.link(href="#") T SHOP By DEMO
                    a.link(href="#") Careers
                    a.link(href="#") Press Room
              .kiwi-col.l-1-3
                section.list.links.expandable
                  .content
                    a.link(href="#") The DEMO Experience
                    a.link(href="#") How to Pre-Order Online
                    a.link(href="#") Frequently Asked Questions
                    a.link(href="#") Contact Us
              .kiwi-col.l-1-3
                section.list.links.expandable
                  .content.language
                    a.link.site-language(href="#") English
                    a.link(href="#") 简体中文
                    a.link(href="#") 日本語
          .main-col.kiwi-col.footer-right
            .subscribe
              section
                .title Subscribe To DEMO Newsletter
                p Be the first to hear about our new arrivals, special offers and upcoming events.
                a.button.grey(href="#") SUBSCRIBE

        .area-copyright
          .section.terms-privacy
            a.reverse(href="#") Terms & Conditions 
            span.text-divider |
            a.reverse(href="#") Privacy Policy
            span.text-divider |
            a.reverse(href="#") Sitemap
          .section.copyright
            |© 2014 
            a.reverse(href="#") DEMO Group Ltd.
            |, ICP 12037391-4 &nbsp
            span Exclusive promotions and events only at T SHOP by DEMO Hong Kong. View the latest calendar for up...
              a.reverse(href="#") read more 

    //- mobile
    .keep-in-touch.kiwi-visible-s.kiwi-visible-m
      section
        .title STAY IN TOUCH
        .stay-touch
          a(href="#")
            +socialIcon('facebook')
          a(href="#")
            +socialIcon('instagram')
          a(href="#")
            +socialIcon('sina')
          a(href="#")
            +socialIcon('youtube')
          a(href="#")
            +socialIcon('youku')
      section
        //- .title Subscribe to the DEMO newsletter
        p Be the first to hear about our new arrivals, special promotions and exclusive events.
        a.button.gray.expand 
          img(src="./images/icons/email_gray.png", style="height:20px;")
          |Subscribe
    .line-divider.kiwi-visible-s.kiwi-visible-m
    .main-footer.kiwi-visible-s.kiwi-visible-m.accordion-menu

      .kiwi-grid
        .main-col.kiwi-col.l-1-2.m-1.s-1
          .kiwi-grid
            .kiwi-col.l-1-2.s-1.m-1
              section.list.links.expandable
                .title About Us
                .content
                  a.link(href="#") Our History
                  a.link(href="#") DEMO Group
                  a.link(href="#") DEMO Airport
                  a.link(href="#") T SHOP By DEMO
                  a.link(href="#") Careers
                  a.link(href="#") Press Room
            .kiwi-col.l-1-2.s-1.m-1
              section.list.links.expandable
                .title Why Shop at DEMO
                .content
                  a.link(href="#") The DEMO Experience
                  a.link(href="#") How to Order Online
                  a.link(href="#") Frequently Asked Questions
                  a.link(href="#") Contact Us

    .mobile-copyright.kiwi-visible-s.kiwi-visible-m

      <!-- mobile footer copyright -->
      .section.description
        |Exclusive promotions and events only at T SHOP by DEMO Hong Kong. View the latest calendar for up... 
        a.reverse(href="#") read more
      .section.languages
        a.reverse(href="#") English
        a.reverse(href="#") 简体中文 
        a.reverse(href="#") 日本語
      .section.terms-privacy
        a.reverse(href="#") Terms & Conditions 
        a.reverse(href="#") Privacy Policy
        a.reverse(href="#") Site Map
      .section.copyright
        |© 2014 
        a.reverse(href="#") DEMO Group Ltd.
      <!-- END mobile footer copyright -->
