script.
  var productCategoryList = {
    wine: ["red", "white", "dessert", "rose", "Champagne/Sparkling"],
    spirit: ["cognac", "whiksy", "vodka", "rum", "gin", "baijiu", "Tequila"],
    beer: []
  }