script.
  var productCategoryList = {
    wine: ["Red", "White", "Dessert", "Rose", "Champagne/Sparkling"],
    spirit: ["cognac", "whiksy", "vodka", "rum", "gin", "baijiu", "Tequila"],
    beer: []
  }