header.main-header
  .area-container

    <!-- select location -->
    .location
      div.visiting.kiwi-hidden-m.kiwi-hidden-s 
        +flag('hongkong')(class="icon-appendInline")
        |You are visiting our 
        a.link(href="./landing.html", data-mfp-src="#select-location-modal", data-effect="mfp-fade-in") 
          span DEMO Store
          
        .locationPopupWrap
          .arrow
          #home-popup.locationPopup.desktop
            .img
              img(src="http://placehold.it/150x100", style="width:150px;height:100px")
            .text
              strong.uppercase YOU ARE VISITING OUR DEMO Store.
              p Visiting another location? Please click on the flag.

      .kiwi-visible-s.kiwi-visible-m
        #mobile-popup.locationPopup.mobile
          .close
            +icon('banner-close')
          .text
            a.link(href="./landing.html", data-mfp-src="#select-location-modal")
              i.icon.margin-left-5
              .store
                .uppercase You are visiting our 
                  strong Hong Kong Store
                | Visiting another location
    <!-- END select location -->    

    .mobile-menu
      a(href="#", toggle="fashion-mobile-left-menu")
        +icon-svg("icon-menu")

    .sticky-menu
      a(href="#" toggle="sticky-header-menu")
        +icon-svg("icon-menu")
      .arrow          

    .header-logo
      a(href="#")
        img.icon(src="http://placehold.it/50x50")

    .register-menu.fashion.menu-tabs
      .tabs.list
        block sign-in
          .li.tab.sign-in.kiwi-hidden-m.kiwi-hidden-s
            .title.text 
              a(href="/register-sign-in.html") Sign in
        
          .li.register.kiwi-hidden-m.kiwi-hidden-s
            .title.text 
              a(href="#") Register
        .li.tab.wishlist
          .title.img
            a(href="./my-wishlist.html")
              +icon-svg("icon-heart")

        #react-shoppingbag.li.tab.shopping-bag

        block sign-out
        .li.tab.desktop-searchbox.kiwi-hidden-m.kiwi-hidden-s
          span.placeholderWrap &nbsp Search
          input(placeholder=" Search",type="search", name="search").search_text
        .li.desktop-search.kiwi-hidden-m.kiwi-hidden-s
          .title.img
            a(href="#")
              +icon-svg("icon-search")
        .li.search
          .title.img
            a(href="#")
              +icon-svg("icon-search")
        .searchbox
          span.placeholderWrap &nbsp Search
          input(placeholder=" Search",type="search", name="search").search_text