<!-- promotions -->
.promotions.black
  .kiwi-grid
    .kiwi-col.l-1-3.m-1-2.s-1
      +promotion({img : 'promotion-1', title : 'DFS EXCLUSIVES', detail : 'DISCOVER THE COLLECTION'})
    .kiwi-col.l-1-3.m-1-2.s-1
      +promotion({img : 'promotion-1', title : 'OUR STORES', detail : 'FIND YOURS'})
    .kiwi-col.l-1-3.m-1.s-1
      +promotion({img : 'promotion-1', title : 'THE INTERVIEW: ROLAND MOURET', detail : 'READ NOW'})
<!-- END promotions -->

mixin promotion(promotion)
  .promotion
    .promo
      a(href="#")
        img.fade-in.scale(src="./images/"+promotion.img+".png")
    .bottom
      .title
        a(href="#")=promotion.title
      .detail.uppercase
        a(href="#")=promotion.detail