arrow(direction, size, color)
  border-bottom size solid transparent
  border-left size solid transparent
  border-right size solid transparent
  border-top size solid transparent
  content ''
  height 0
  width 0
  if direction == 'left'
    arrow-left(size,color)
  else if direction == 'right'
    arrow-right(size,color)
  else if direction == 'top'
    arrow-top(size,color)
  else if direction == 'bottom'
    arrow-bottom(size,color)

arrow-left(size,color) 
  border-left-color color
  top 50%
  right 0
  margin-top - size

arrow-right(size,color) 
  border-right-color color
  top 50%
  left 0
  margin-top - size

arrow-top(size,color) 
  border-top-color color
  left 50%
  top 0
  margin-left - size

arrow-bottom(size,color) 
  border-bottom-color color
  left 50%
  bottom 0
  margin-left - size

arrow-menu(dis)
  position absolute
  top 5px
  left dis


.arrow-wines-spirits
  arrow('top', 6px, #000)
  arrow-menu(185px)

.arrow-our-brands
  arrow('top', 6px, #000)
  arrow-menu(315px)

.arrow-women
  arrow('top', 6px, #000)
  arrow-menu(415px)

.arrow-men
  arrow('top', 6px, #000)
  arrow-menu(483px)

.arrow-beauty
  arrow('top', 6px, #000)
  arrow-menu(645px)  

.arrow-travel-guides
  arrow('top', 6px, #000)
  arrow-menu(650px)

.arrow-t-journal
  arrow('top', 6px, #000)
  arrow-menu(765px)

.arrow-our-stores
  arrow('top', 6px, #000)
  arrow-menu(875px)
  
//top-menu-preorder page  
.arrow-wines-spirits-preorder
  arrow('top', 6px, #000)
  arrow-menu(225px)
.arrow-our-brands-preorder
  arrow('top', 6px, #000)
  arrow-menu(355px)

.arrow-women-preorder
  arrow('top', 6px, #000)
  arrow-menu(450px)

.arrow-men-preorder
  arrow('top', 6px, #000)
  arrow-menu(518px)

.arrow-travel-guides-preorder
  arrow('top', 6px, #000)
  arrow-menu(612px)

.arrow-our-stores-preorder
  arrow('top', 6px, #000)
  arrow-menu(835px)

//top-menu-non-preorder page
.arrow-our-brands-non-preorder
  arrow('top', 6px, #000)
  arrow-menu(140px)

.arrow-women-non-preorder
  arrow('top', 6px, #000)
  arrow-menu(236px)

.arrow-men-non-preorder
  arrow('top', 6px, #000)
  arrow-menu(305px)
  
.arrow-beauty-non-preorder
  arrow('top', 6px, #000)
  arrow-menu(370px)
  
.arrow-wines-spirits-non-preorder
  arrow('top', 6px, #000)
  arrow-menu(475px)

.arrow-travel-guides-non-preorder
  arrow('top', 6px, #000)
  arrow-menu(605px)

.arrow-our-stores-non-preorder
  arrow('top', 6px, #000)
  arrow-menu(825px)

:lang(zh-cn) 
  .arrow-wines-spirits-preorder
    arrow('top', 6px, #000)
    arrow-menu(265px)
  .arrow-our-brands-preorder
    arrow('top', 6px, #000)
    arrow-menu(370px)
  
  .arrow-women-preorder
    arrow('top', 6px, #000)
    arrow-menu(445px)
  
  .arrow-men-preorder
    arrow('top', 6px, #000)
    arrow-menu(500px)
  
  .arrow-travel-guides-preorder
    arrow('top', 6px, #000)
    arrow-menu(570px)
  
  .arrow-our-stores-preorder
    arrow('top', 6px, #000)
    arrow-menu(730px)
  
  //top-menu-non-preorder page
  .arrow-our-brands-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(250px)
  
  .arrow-women-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(326px)
  
  .arrow-men-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(380px)
    
  .arrow-beauty-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(435px)
    
  .arrow-wines-spirits-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(490px)
  
  .arrow-travel-guides-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(555px)
  
  .arrow-our-stores-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(720px)    
:lang(ja-jp) 
  .arrow-wines-spirits-preorder
    arrow('top', 6px, #000)
    arrow-menu(210px)
  .arrow-our-brands-preorder
    arrow('top', 6px, #000)
    arrow-menu(305px)
  
  .arrow-women-preorder
    arrow('top', 6px, #000)
    arrow-menu(405px)
  
  .arrow-men-preorder
    arrow('top', 6px, #000)
    arrow-menu(490px)
  
  .arrow-travel-guides-preorder
    arrow('top', 6px, #000)
    arrow-menu(590px)
  
  .arrow-our-stores-preorder
    arrow('top', 6px, #000)
    arrow-menu(845px)
  
  //top-menu-non-preorder page
  .arrow-our-brands-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(110px)
  
  .arrow-women-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(206px)
  
  .arrow-men-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(292px)
    
  .arrow-beauty-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(373px)
    
  .arrow-wines-spirits-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(490px)
  
  .arrow-travel-guides-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(620px)
  
  .arrow-our-stores-non-preorder
    arrow('top', 6px, #000)
    arrow-menu(850px)    
    

@media screen and (max-width:960px)
  .arrow-wines-spirits
  .arrow-our-brands
  .arrow-women
  .arrow-men
  .arrow-beauty
  .arrow-travel-guides
  .arrow-t-journal
  .arrow-our-stores  
  .arrow-wines-spirits-preorder
  .arrow-our-brands-preorder
  .arrow-women-preorder
  .arrow-men-preorder
  .arrow-travel-guides-preorder
  .arrow-our-stores-preorder
  .arrow-our-brands-non-preorder
  .arrow-women-non-preorder
  .arrow-men-non-preorder
  .arrow-beauty-non-preorder
  .arrow-wines-spirits-non-preorder
  .arrow-travel-guides-non-preorder
  .arrow-our-stores-non-preorder
    display none
    
  :lang(zh-cn) 
    .arrow-wines-spirits-preorder
    .arrow-our-brands-preorder
    .arrow-women-preorder
    .arrow-men-preorder
    .arrow-travel-guides-preorder
    .arrow-our-stores-preorder
    .arrow-our-brands-non-preorder
    .arrow-women-non-preorder
    .arrow-men-non-preorder
    .arrow-beauty-non-preorder
    .arrow-wines-spirits-non-preorder
    .arrow-travel-guides-non-preorder
    .arrow-our-stores-non-preorder   
      display none
      
  :lang(ja-jp) 
    .arrow-wines-spirits-preorder
    .arrow-our-brands-preorder
    .arrow-women-preorder
    .arrow-men-preorder
    .arrow-travel-guides-preorder
    .arrow-our-stores-preorder
    .arrow-our-brands-non-preorder
    .arrow-women-non-preorder
    .arrow-men-non-preorder
    .arrow-beauty-non-preorder
    .arrow-wines-spirits-non-preorder
    .arrow-travel-guides-non-preorder
    .arrow-our-stores-non-preorder
      display none