button
  cursor pointer
  font-family 'Verdana'
  font-weight normal
  font-size 1em
  text-transform uppercase
  box-sizing border-box
  &:focus
    outline 0

$button
  @extends button
  appearance none
  border none
  border-radius 0
  display inline-block
  line-height 1em
  padding .7em 2em
  text-align center
  transition color .2s ease-out
  &:hover
    color color-secondary

  @media mq-m
    width 100%
    // font-size 12px
    margin 5px 0
    // padding .7em  0 // unit(font-size-root/13, 'em')
  
.button
  &.white
    @extends $button
    background #fff
    border 1px solid color-silver

  &.gray
    @extends $button
    background #555354
    color #fff
    font-weight bold
    letter-spacing 0.01em
    line-height 44px
    height 44px
    font-size 14px
    padding 0

  &.black
    @extends $button
    background #000
    color #fff
    line-height 1.6em
    &:hover
      color tint(#000, 50%)
      color rgba(255,255,255, .5)

  &.action
    @extends $button
    background color-action
    color #fff
    line-height 1.6em
    &:hover
      color tint(color-action, 70%)
      color rgba(255,255,255, .7)
      

  &.transparent
    @extends $button
    background transparent
    border 1px solid color-silver
    line-height 1.6em

  &.disabled
    @extends $button
    background transparent
    border 1px solid color-silver
    color color-secondary
    line-height 1.6em
    pointer-events  none
    &.action
      background color-action
      border none
      color #fff
      opacity .4

  &.expand
    width 100%
  &.width-8-10
    width 80%
  
  &.fixed
    padding 5px
    width auto
    

.share-btn
  a
    margin-right 6px
//ios style toggle button
.togglebox
  input#iosbutton
    max-height 0
    max-width 0
    display none

    &+label
      display block
      position relative
      box-shadow inset 0 0 0px 1px #d5d5d5
      text-indent -5000px
      height 30px
      width 70px
      border-radius 15px
      cursor pointer

    & + label:before 
      content ""
      position absolute
      display block
      height 30px
      width 30px
      top 0
      left 0
      border-radius 15px
      background rgba(19,191,17,0)
      -moz-transition .25s ease-in-out
      -webkit-transition .25s ease-in-out
      transition .25s ease-in-out


    &+label:after 
      content ""
      position absolute
      display block
      height 30px
      width 30px
      top 0
      left 0px
      border-radius 15px
      background white
      box-shadow inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2)
      -moz-transition .25s ease-in-out
      -webkit-transition .25s ease-in-out
      transition .25s ease-in-out

    &:checked + label:before 
      width 70px
      background #45a31f


    &:checked + label:after 
      left 40px
      box-shadow inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2)
.button.add-to-bag
  font-size 0.75em
  letter-spacing .07em
  margin-top 0.5em
  padding 0.7em
  text-transform uppercase
  width 120px
  background #b92b17
  color #fff
  display inline-block
  
.loading-button
  -webkit-animation spin 4s linear infinite
  -moz-animation spin 4s linear infinite
  animation spin 4s linear infinite
  
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
    
  
  
  
