.line-with 
  text-align center
  background url("../img/module/line-pixel.jpg") repeat-x
  background-position center center

  >.text
    background-color #fff
    display inline-block
    padding-left 5px
    padding-right 5px

  .line-text
    background #fff
    display inline-block
    padding 0px 5px

  &.width-9-10
    width 90%
    margin auto

.divider
  border-bottom border-default
  margin-bottom 10px

.two-line-title
  padding-top 7px
  padding-bottom 7px
  border-top 1px solid color-mercury
  border-bottom 1px solid color-mercury
  font-size 10px
  text-transform uppercase
  clear both
  margin-bottom 10px

.page-title
  border-top 5px solid #000
  border-bottom 1px solid color-mercury
  color #000
  font-family "Times New Roman"
  font-size 20px
  font-weight normal
  line-height 1em
  margin 10px 0px
  padding .7em 0px
  text-align center
  text-transform uppercase
  width 100%
  clear both
  &.GNB-line
    margin-top -3px

.line-title
  font-family "Times New Roman"
  font-size 19px
  color #333
  padding-bottom 10px
  border-bottom 1px solid color-mercury
