html,body
  font-size font-size-root
  color color-primary
  font-family font-family-default


html:lang(ja-jp)
  font-family "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W6"

img
  height auto
  max-width 100%
  min-width 1px
  &.scale
    width 100%
  
strong
  font-weight bold

em
  font-style italic

// redefine grid behaviour on tablet and mobile for 1 column
@media mq-m

  html, body
    font-size font-size-root * 1.1

  .kiwi-grid
    .kiwi-col
      &.m-1
        float none

  // redefine the visibility
  .kiwi-visible-m
    display block

// @media mq-s
//   .kiwi-grid
//     .kiwi-col
//       &.s-1
//         float none

//   // redefine the visibility
//   .kiwi-visible-s
//     display block
.font-red
  color #f00
.font-bold
  font-weight bold
.width100
  width 100%
  
//force scrollbar of dropdow-list displaying in broswers on MAC/IPAD/IPHONE
div.dropdown-list::-webkit-scrollbar
  -webkit-appearance none
  width 7px
  
div.dropdown-list::-webkit-scrollbar-thumb
  border-radius 4px
  background-color rgba(0,0,0,0.5)
  box-shadow 0 0 1px rgba(255,255,255,0.5)
  
.area-container
  margin 0 auto
  max-width 980px
  min-width 280px
  padding 0 20px
  width auto

  @media mq-m
    &.mobile-full-width
      padding 0 
