$header
  font-family 'Times New Roman', 'Regular'
  font-weight normal
  line-height 1em
  margin .6875em 0
  text-transform uppercase

font-size-headers = 20px

for num in (1..6)
  h{num}
    @extends $header
    rem-prop('font-size', font-size-headers)

    &.divider
      border-bottom divider-light
      border-top divider-light
      padding .37em 0
      text-align center

    &.divider-bottom
      border-bottom divider-light
      padding-bottom 10px

  font-size-headers = font-size-headers - 2

h1.divider
  border-top divider-dark
  color #000
  margin-bottom 10px
  margin-top 0
  padding .7em 0
h1.divider.GNB-line
  margin-top -3px

h5
  letter-spacing 0.05em

.japanese
  for num in (1..6)
    h{num}
      font-family "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W6"

.chinese
  for num in (1..6)
    h{num}
      font-family '黑体', Arial, 'Heiti TC Light', 'SimSun', 'PMingLiu'