.underline
  text-decoration underline

.strong
  font-weight bold

.uppercase
  text-transform uppercase

.display-none
  display none

.display-block
  display block

.hidden
  display none
.display
  display inline-block

.kiwi-grid .float-right
  float right
.text-right
  text-align right
.text-center
  text-align center

.max-100
  max-width 100%
.width-100 
  width 100%
 
.opacity-0
  opacity 0

.fade-in
  transition opacity .2s ease-out

.pos-relative
  position relative

.pad-40
  height 40px
  
.pushup-space
  margin-top 20px