$message
  // background #f2f2f2 url('http://placehold.it/100x45&text=background') no-repeat top left
  font-size 20px
  font-family font-family-preorder
  {$font-weight-normal}
  line-height 24px


.preorder-message
  @extends $message
  // margin 22px 0 0 25px
  padding 24px 44px 24px 24px
  
  .title
    display block
  .text
    color #000

.preorder-product-message
  font-size 14px
  font-weight 200
  font-family 'ITC Franklin W04',Verdana
  line-height 16px
  background-position 10px 50%
  margin-bottom 20px
  margin-left -20px
  margin-right -20px
  margin-top -20px
  padding 40px 20px 10px 130px

  .tooltip
    display none

.quantity
  user-select(none)
  line-height 12px
  margin 10px 0

  >.qt-choice
    display inline-block
    margin 0 4px
    min-width 14px
    padding 4px 3px
    text-align center
  .plus
  .minus
    border border-black
    background #fff
    cursor pointer
    font-weight bold
    &.disabled
      cursor normal
      border-color color-mercury
      color color-mercury

  .minus
    margin-left 20px

  @media mq-m
    margin-top -20px

    .label
      display block
      font-size .8em
      margin-bottom 8px
      margin-left 6px

    .qt-choice
      padding 9.5px


.badge
  background rgba(255,255,255, .3)
  border border-default
  border-radius 100%
  left 10px
  padding 13px 6px
  position absolute
  text-transform none
  top 10px
  max-width 50px
  z-index 2
  font-size 9px

  &.primary
    border-color color-action
    color color-action

.lte9
  .badge
    background url('../img/icon/badge-small.png') no-repeat top left
    border none


.price
  &:before
    content '›'
    color color-action
    font-size 16px
