// colors

// -- grey
color-cod-gray = #131313
color-mine-shaft = #333
color-tundora = #4c4c4c
color-emperor = #555
color-gray = #868686
// color-dusty-grey = tint(color-mine-shaft, 50%)
color-silver-chalice = #9f9f9f
color-silver = #ccc
color-mercury = #E1E1E1
color-concrete = #f2f2f2
// -- red
color-thunderbird = #b92b17
color-tall-poppy = #be3724
color-tia-maria = #c1310f
// -- blue
color-astronault-blue = #013E62


// breakpoints & Media Query
breakpoint-s = 767px
breakpoint-m = 960px
breakpoint-xl = 1900px
mq-s = 'screen and (max-width: '+breakpoint-s+')'
mq-m = 'screen and (max-width: '+breakpoint-m+')'
mq-xl = 'screen and (min-width: '+breakpoint-xl+')'
mq-min-m = 'screen and (min-width: '+(breakpoint-s+1)+')'
mq-min-l = 'screen and (min-width: '+(breakpoint-m+1)+')'
// for sticky-menu position
mq-min-2l = 'screen and (min-width: '+(breakpoint-m+540)+')'
mq-min-3l = 'screen and (min-width: '+(breakpoint-m+1080)+')'
mq-min-4l = 'screen and (min-width: '+(breakpoint-m+1620)+')'


// defaults
border-default = 1px solid color-mercury
border-black = 1px solid #000
border-white = 1px solid #fff
border-normal = 1px solid color-gray
border-transparent = 1px solid transparent
color-primary = color-mine-shaft
color-secondary = tint(color-mine-shaft, 50%)
color-preorder = color-tia-maria
color-preorder-secondary = tint(color-tia-maria, 50%)
color-error = color-thunderbird
color-action = color-thunderbird
font-family-default = 'Verdana'
font-family-preorder = 'ITC Franklin W04', Verdana, sans-serif
font-size-root = 12px
$font-weight-normal = 
  font-weight  300
$font-weight-bold = 
  font-weight  800

// divider / HR
divider-default = 1px solid color-secondary
divider-light = border-default
divider-dark = 5px solid #000
divider-line-1 = 1px solid color-tundora
