.header-logo
  // display none
  float left
  width 6%
  opacity 0
  transition opacity 0.5s ease 0s

  >a
    text-align center
    width 100%
    
  img
    // height 38px
    // width 38px

  @media mq-m
    display none

@media mq-min-l
  .sticky-header
    .header-logo
      display block
      // margin-top 7.5px
      opacity 1
  
      @media mq-m
        display none