// Location styles
.location
  color #fff
  float left
  position relative
  text-transform uppercase
  width 47%
  
  .visiting
    //padding 8px 6px 6px
    padding 13.5px 6px

    >img
      margin-right 9px

  .link
    color #fff
    font-weight bold
    &:hover
      color color-secondary
      strong 
        color #fff

  .icon-inline
    margin-top -1px
    // height 15px
    // margin-left 5px
    // vertical-align middle
    // width 23px
    // max-width none

// location popups 

.locationPopupWrap
  position absolute

.locationPopup
  text-transform initial
  display none

  &.desktop
    background #fff
    box-shadow -2px 1px 4px 1px rgba(0,0,0,.3)
    color #000
    rem-prop('font-size', 12px)
    //margin-top 13px
    margin-top 18px
    overflow hidden
    padding 1em
    width 336px
    z-index 2

    img
      float right

    strong
      display block
      rem-prop('font-size', 13px)
      line-height 20px
      text-transform uppercase
      font-weight bold

    p
      line-height 16px
      margin-bottom 0
      margin-top 8px

  &.mobile
    font-family "Times New Roman"
    background #000
    bottom 0
    box-shadow 0 0 10px 5px rgba(0,0,0,0.5)
    color #fff
    rem-prop('font-size', 13px)
    left 0
    min-height 41px
    padding 1.5em 60px 1.5em 1em
    position fixed
    right 0

    .close
      position absolute
      right 2px
      top -5px

    .icon
      position absolute
      background-image url("../../static/img/icon/flag-82x54.png")
      background-size 41px 27px
      width 50px
      height 30px
      background-position center center
      background-repeat no-repeat

    .store
      line-height 15px
      padding-left 70px

.arrow
  border 6px solid transparent
  border-bottom-color #fff
  left 14px
  position absolute
  //top 1px
  top 6px
  width 0
  z-index 3
  display none
  
  @media mq-m
    display none


