.mobile-menu
  display none
  float left

  .icon-menu
    width 30px
    height 30px

  @media mq-m
    display block
    .icon
      //width auto

@media mq-min-l
  .mobile-menu
    display none !important