.mobile-menu
  display none
  float left
  padding 8px 0

  img.icon
    width 23px
    height 13px

  @media mq-m
    display block
    .icon
      //width auto

@media mq-min-l
  .mobile-menu
    display none !important