// Header menu styles
.register-menu
  text-transform uppercase
  float right
  width 47%  //new
  >.list
    float right
    position relative
    @media mq-m
      position static
    >.li 
      >.title
        cursor pointer
        font-weight normal

        &.text
          padding 15px 8px
          color #fff

        a
          color #fff

        .icon
          vertical-align middle
          max-width none

      &.logged-in
        margin-right 13px
        .title.text
          font-size 12px
          padding 14px 12px 14px 0
          position relative
          &:hover
            color #999

      &.shopping-bag          
        >.title.img
          // padding 6.5px 10px
          color  #fff
          &:hover 
            color  #000


      &.register
        >.title
          a:hover
            color color-secondary

  .title.img
    padding 10px 5px 8px
    @media mq-m
      padding  8px 8px 4px  
    
  .icon-heart,
  .icon-cart,
  .icon-search 
    width 18px
    height 18px
    @media mq-m
      width 22px
      height 22px

  >.tabs
    >.tab
      &.active
      &:hover
        .icon-svg
          color #000
          &.icon-search
            color #fff
          @media mq-m
            color #fff

      >.content
        padding 12px
        text-transform none
        rem-prop('font-size', 10px)

        p
          margin 10px 0     

  .nb-products
    &:before
      content '('
      position relative
    &:after
      content ')'
      position relative

  .register
    padding-top 1px

// wishlist menu style
.wishlist
  >.content
    width 155px
    text-align center

.wishlist
  position relative
  .content
    .button
      padding 4px 40px

// shopping bag menu style    
.shopping-bag
  position relative
  >.content    
    text-align center
    line-height 14px
    &.empty
      line-height 1.4em
      width 208px
    &.full
      padding 0 !important

    .button
      padding 4px 10px
      a.link
        color #fff
        line-height 2em

// sign in menu styles
.sign-in
  .content
    width 155px
    text-align center

    .line-with 
      margin 10px 0

// sign in menu styles
.search
  display none
  @media mq-m
    display block

  .icon
    margin-right 0 !important

.searchbox
  //display none
  position absolute
  right 30px
  width 100%

  input
    background #000
    border none
    color #fff
    font-size 2em
    //left 5px
    //right 50px
    //position fixed
    //top 5px
    //width 65%
    float right
    width 1px
    opacity 0
    padding 0
    margin-top 2px

    &.slided
      opacity 1

.accordion-menu
  .button.expandable
    display block
    .title
      position relative
      margin-bottom 5px
      &:after
      &:before
        content ''
        width 0
        height 0
        border 4px solid transparent
        position absolute
        left 50%
        margin-left -2px
      &:after
        border-top-color color-action
        bottom -7px
      &:before
        border-top-color #fff
        bottom -8px
        
    .content
      display none


@media mq-m
  .icon
    //height 17px !important
    
  .register-menu
    //width auto

    .nb-products
      background color-emperor
      border-radius 15px
      color #fff
      // display inline-block
      position relative
      rem-prop('font-size', 11px)
      padding 3px 5px
      right 10px
      top 2px
      &:before
      &:after
        content ''
        display none

    .content
      display none !important

    .search
      display block 

  .fashion.menu-tabs
    .tab 
      >.title
        margin-right 0
        border none !important
        background #000 !important

//new
.desktop-searchbox 
  input
    opacity 0
    width 0
    padding-top 12px
    background-color #000
    border-bottom 1px solid #6a6a6a
    color #fff

  input.slided
    opacity 1

@media mq-min-l
  &.sticky-header
    .register-menu  
      .sign-in
      .register
        display none

    .desktop-searchbox
      input
        padding-top 19px
      
  
  .searchbox
    display none !important

//my dfs list menu
.mydfsArrowWrap
  position absolute
  right 0
  top 19px

  .arrow-down-white
  .arrow-down-black
    width 0
    height 0
    border-left 3px solid transparent
    border-right 3px solid transparent

  .arrow-down-white
    border-top 4px solid #fff
  .arrow-down-black
    border-top 4px solid #000
    position absolute
    top -1px
      
.mydfsWrap
  position absolute
  left -25px

  .arrow
    left 42px
    top -11px


  #mydfs-list
    display none
    background #fff
    box-shadow 1px 3px 15px 0px rgba(50, 50, 50, 0.37)
    color #000
    font-size 12px
    z-index 2
    padding 15px 17px 25px
    margin-top 1px
    width 140px

    a
      text-transform none

    .divider-line-1
      height 1px
      border-top divider-line-1
      margin-top 16px

    >div ~ a
      display block
      padding-top 22px
      &:first-child
        padding-top 20px

    span
      display block

&.sticky-header
  .logged-in
    display none
    
  .register-menu
    .title.img
      padding 17px 5px 15px
      @media mq-m
        padding  8px 8px 4px  

.register-menu
  @media mq-m
    width 90%
  @media mq-s
    width 80%

//placeholder setup for android phone browser
.placeholderWrap 
  display inline-block
  color #555
  position absolute 
  top 12px
  pointer-events none
  font-size 12px
  display none
  text-transform none

.placeholder-focus 
  color #fff
  display block
.placeholder-changed 
  display none

// placeholder setup for IE9/10/11
.desktop-searchbox
  .placeholderWrap
    top 15px
    
&.sticky-header
  .desktop-searchbox
    .placeholderWrap
      top 22px
  

//wishlist, shopping-bag,search magnifier animation
.wishlist *
.shopping-bag *
.desktop-search *
  transition padding 0.5s ease 0s

