.sticky-menu
  display none
  float left
  width 47%
  position relative

  .icon-menu
    width 30px
    height 30px
    margin-left 15px

  
  @media mq-m
    display none

@media mq-min-l
  .sticky-header
    .sticky-menu
      display block
      padding-top 12px
  
      @media mq-m
        display none
  
    .arrow
      transition opacity 0.5s ease 0s
      border 6px solid transparent
      border-bottom-color #fff
      left 24px
      position absolute
      top 42px
      width 0
      z-index 3
      display block
      opacity 0
      
      @media mq-m
        display none


.sticky-menu-opened
  #mobile-menu
    z-index 99
    opacity 1
    //border-left 1px solid color-mercury
    overflow-y auto
    min-height 1px


  .arrow
    opacity 1


#mobile-menu
  opacity 0
  
  @media mq-min-l
    z-index -1
    position fixed
    top 54px
    left 20px
    transition all 0.5s ease 0s

  // fix sticky-menu postion on larger screen
  @media mq-min-2l
    left 250px

  @media mq-min-3l
    left 540px 

  @media mq-min-4l
    left 800px 


