.preorder-message
  background #f2f2f2
  padding 20px 20px 20px 130px
  margin 22px 0 0 25px
  line-height 1.4em
  font-size 1.1em
    
  .title
    display block
  .text
    color color-gray

.productsList
  margin-top 10px
  
.product-enter
  opacity  0
  
  &.product-enter-active
    opacity   1
    transition  opacity 300ms ease-in
    
.product-leave
  opacity     1
  
  &.product-leave-active
    opacity   0
    // transition  opacity 0ms ease

.shoppingbagProduct-enter
  height   0
  transition height  10ms ease-out
  
  &.shoppingbagProduct-enter-active
    height   auto
        
.shoppingbagProduct-leave
  height    165px
  transition  height 300ms ease-out
  
  &.shoppingbagProduct-leave-active
    height   0
  
.shoppingbagDetails-enter
  opacity 0.01
  transition opacity 300ms ease 
  
  &.shoppingbagDetails-enter-active
    opacity   1
    
.shoppingbagDetails-leave
  opacity 1
  transition opacity 500ms ease 
  
  &.shoppingbagDetails-leave-active
    opacity   0    